<section class=" container block" >
    <div class="block__header">
        <h2 class="block__heading" >Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, aliquam!</p>
    </div>
    <div style="width: 30%; padding: 4rem;" >
        <div class="card card--secondary">
            <div class="card__header">Card Title</div>
            <div class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, labore!</div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left" >
    <div class="block__header container">
        <h2 class="block__heading" >Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, aliquam!</p>
    </div>
</section>